.upload{
    .form-upload-dark,
    .form-upload{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        .form-upload-dark,
        .upload-file{
            margin-bottom: 20px;
            .ant-upload{
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-size: 20px;
                }
            }
        }
        .upload-file{
            .ant-upload{
                background: #fff;
            }
        }
        .form-upload-dark{
            .ant-upload{
                background: #333;
            }
        }
    }
        .salary{
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 20px;
            margin: 50px 0;
            .total-time{
                span{
                    font-size: 20px;
                    font-weight: bold;
                    margin-right: 10px;
                    line-height: 1.2;
                    letter-spacing: 0.5px;
                }
            }
            .total-salary{
                span{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    
}