.upload{
    .form-upload{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        .upload-file{
            margin-bottom: 20px;
            .ant-upload{
                background: #fff;
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-size: 20px;
                }
            }
        }
    }
        .ant-table-thead {
            > tr > th {
                background-color: #27a0d0 !important ;
                color: white;
            }
        }
        .salary{
            display: flex;
            align-items: start;
            // justify-content: space-between;
            justify-content: start;
            flex-direction: column;
            gap: 20px;
            margin: 50px 0;
            .total-time{
                span{
                    font-size: 20px;
                    font-weight: bold;
                    margin-right: 10px;
                    font-family: 'Tajawal', sans-serif;
                    line-height: 1.2;
                    letter-spacing: 0.5px;
                }
            }
            .total-salary{
                span{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    
}